
/*
SECTION BELLOW IS CSS RESET FROM JOSH W. COMEAU: https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
.body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/*
Non-CSS Reset Code
*/

.btn:hover,
.btn:focus{
  filter:brightness(120%);
}

.btn-lg{
  background-color: lightgrey;
}

.media{
  border: 0.1rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

/**
From https://www.digitalocean.com/community/tutorials/how-to-build-a-tiled-layout-with-css-section-3
*/
.section-heading {
  text-align:center;
  color:#102C4E;
  margin-top: 150px;
  margin-bottom:70px;
  font-size: 35px;
}

/**
From https://www.digitalocean.com/community/tutorials/how-to-build-a-tiled-layout-with-css-section-3
*/
.column-4 {
  float: left;
  width: 27%;
  padding: 10px;
  margin: 25px;
  height: 250px;
}

/* Color and Images for Project Containers  */

.project-1 {
  background-color: #209BFF;
}

.project-2 {
  background-color:#209BFF;
}

.project-3 {
  background-color:#209BFF;
}


.project-text {
  text-align:center;
  font-size:40px;
}

/* Hover classes for individual project boxes */

.project-1:hover {
  background-color:green;
}

.project-2:hover {
  background-color:green;
}

.project-3:hover {
   background-color: green;
}


/* SECTION */

.project-descriptions {
  float: left;
  width: 75%;
  padding: 10px;
  margin: 25px;
  height: 250px;
}

